.nav {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav__black {
  background-color: black;
}
.nav__logo {
  max-height: 30px;
  object-fit: contain;
}

.nav__avatar {
  max-height: 30px;
  object-fit: contain;
}
